@model Cerium.AspNetDemo.Models.ForgotPasswordModel

<h1>Forgot Password</h1>
<hr />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <p>Username: @Html.TextBoxFor(x => x.Username)</p>
    <input class="btn" value="Submit" type="submit" />
}