@model Cerium.AspNetDemo.Models.PasswordResetModel

<h1>Password reset</h1>
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Token)
    <p>New password: @Html.PasswordFor(x => x.Password)</p>
    <input class="btn" value="Submit" type="submit" />
}